.form{
    padding: 25px;
    border-radius: 20px;
    position: absolute;
    top: 120px;
    left: 870px;
    width: 250px;
    height: 350px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    color: #fff
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    color: #fff;
    border-radius: 8px;
    font: size 15px;
    letter-spacing: 1px;
    font-family: sans-serif;
    margin-top: 20px;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: white;
    font-family: arial;
}

.dot{
    width: 100px;
    height: 40px;
    background: #ff7200;    
    margin-left: 1.9cm;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.dot:hover{
    background: #fff;
    color: #ff7200;
}

.dot a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
}

.hit{
    text-decoration: none;
    color: #ff7200;
    padding-left: 2.1cm;
}
